.tasks-box {
  margin: auto;
  width: 540px;
  color: white;
}

.title-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul-tasks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.div-tasks {
  background-color: #393a4b;
}

.form {
  background-color: #393a4b;
  margin: 25px 0;
  padding: 7px 0;
}

.input-form {
  background-color: #393a4b;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
}

.input-form:disabled {
  cursor: wait;
}

.tasks-footer {
  color: rgb(155, 131, 131);
  background-color: #393a4b;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}

.span-footer:hover {
  cursor: pointer;
  color: rgb(202, 173, 173);
}

.span-active {
  color: white;
}
